<html lang="{{ app.locale }}">
<body>
    <h1>Reset your password</h1>
    <p>
        You asked to reset your password, to finalize the operation copy or
        click on the link below:
    </p>
    <p>
        <a href="{{ login_link }}">Reset my password</a>
    </p>
    <em>
        If you're not at the origin of this request you can ignore this message
        or contact us at blog@example.org.
    </em>
</body>
</html>
